@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  background-color: #10172a;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #6c7a93;
}

.page::after {
  /* all pseudo-elements need "content" to work. We'll make it empty here */
  content: '';
  position: absolute;
  width: 1300px;
  height: 1300px;
  top: calc(var(--y, 0) * 1px - 650px);
  left: calc(var(--x, 0) * 1px - 650px);
  /* make sure the gradient isn't too bright */
	opacity: 0.1;
  /* add a circular gradient that fades out on the edges */
	background: radial-gradient(rgb(25, 106, 255), #10172a 50%);
}

.grey-color {
  color: #6c7a93;
}

.white-color {
  color: #e2e8ef
}

.right-side {
  width: 50rem;
  padding: 6rem 0;
  flex-grow: 2;
  z-index: 20;
  overflow-y: auto;
}

.right-container {
  width: min(38rem, 50vw);
}

em {
  color: #e2e8ef;
  font-style: normal;
}

.tft {
  position: relative;
  z-index: 10;
}

.tft:hover {
  cursor:url(/small-chonc.png) 25 25, auto;
}

.nav-item {
  z-index: 20;
  width: 180px;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-item:hover > hr {
  width: 5rem;
}

.skill-bubble {
  display: inline-block;
  font-size: 0.8rem; /* 12px */
  line-height: 1.1rem; /* 16px */
  background-color: #152a39;
  color: #5dead4;
  margin: 15px 2px 0;
  padding: 5px 13px;
  border-radius: 20px;
}

.project:hover {
  background-color: #162034;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}