@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  background-color: #10172a;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.page::after {
  /* all pseudo-elements need "content" to work. We'll make it empty here */
  content: '';
  position: absolute;
  width: 1300px;
  height: 1300px;
  top: calc(var(--y, 0) * 1px - 650px);
  left: calc(var(--x, 0) * 1px - 650px);
  /* make sure the gradient isn't too bright */
	opacity: 0.1;
  /* add a circular gradient that fades out on the edges */
	background: radial-gradient(rgb(25, 106, 255), #10172a 50%);
}

.grey-color {
  color: #6c7a93;
}

.white-color {
  color: #e2e8ef
}

.right-side {
  width: 40rem;
  overflow-y:auto;
}

em {
  color: #e2e8ef;
  font-style: normal;
}

.tft {
  position: relative;
  z-index: 10;
}

.tft:hover {
  cursor:url(/small-chonc.png) 25 25, auto;
}

.nav-item {
  z-index: 10;
  width: 180px;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-item:hover > hr {
  width: 5rem;
}