@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  height: 100%;
  overflow: auto;  /* Firefox */
}

html {
  overflow: hidden;
  height: 100%;
}

.h-screen-double {
  height: 200vh;
}

.name-active {
  opacity: 1;
}

.name-inactive {
  opacity: 0;
}